.root {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.grid {
  height: 650px;
  width: 100%;
  background-color: cadetblue;
  position: relative;
}

.content {
  width: 175px;
  height: 175px;
  background-color: black;
  border-radius: 12px;
}
